doctype html
head
  title Cotato
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')
.container
  h2 Login
  br
  h4=error
  h4=username
  br
  form.needs-validation(action='/' method='post')
    .form-group
      label(for='username') Username:
      input#uname.form-control(type='text' placeholder='Enter username' name='username' value=username)
    .form-group
      label(for='password') Password:
      input#pwd.form-control(type='password' placeholder='Enter password' name='password')
    .form-group
      input#action.form-control(type='hidden' name='action')

    div(style='width:400px;')
      div(style='float: left; width: 130px')
        button.btn.btn-primary(type='submit') Login
      div(style='float: right; width: 225px')
        button#signup.btn.btn-success(type='submit') Sign up

script.
    var selectButton = $("#signup");
    selectButton.on("click", async function () {
      $('#action').val("signup"); 
    });